.news-container{
    height: 60vh;
    background-color: #fcf5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.news-title{
font-size: 70px;
margin-bottom: 20px;
}
.news-desc{
font-size: 24px;
font-weight: 300;
margin-bottom: 20px;
@media only screen and (max-width:380px){
    text-align: center;
}
}
.news-input-container{
    width: 50%;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    @media only screen and (max-width:380px){
        width: 80%;
    }
}
.news-input{
    border: none;
    flex: 8;
    padding-left: 20px;
}
.news-btn{
    flex: 1;
    border: none;
    background-color: teal;
    color: white;
}
.news-btn:hover{
    transform: scale(1.1);
}