
.product-filter-container{
    display: flex;
    justify-content: space-between;

}

.pl-title{
    margin: 20px;
}
.pl-filter{
    margin: 20px;
    @media only screen and (max-width:380px){
        margin: 0 20px;
        display: flex;
        flex-direction: column;
    }
}
.filter-text{
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
    @media only screen and (max-width:380px){
        margin-right: 0;
    }
}
.filter-select{
    padding: 10px;
    margin-right: 20px;
    @media only screen and (max-width:380px){
    margin: 10px 2px;
      display: flex;
      width: 90%;
    }
}
